:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --desaturated-red-hsl: 0, 36%, 70%;
  --soft-red: hsl(0, 93%, 68%);
  --error-border-clr: hsl(0, 93%, 63%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --very-light-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), 0, 100%, 98%);
  --soft-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --hover-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));

  --regular-fs: 1rem;
  --ff: 'Josefin Sans', sans-serif;
  --light-fw: 300;
  --regular-fw: 400;
  --semi-bold-fw: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff);
  font-weight: var(--regular-fw);
  font-size: var(--regular-fs);
  text-align: center;
  line-height: 1.5;
  color: var(--desaturated-red);
  background: var(--very-light-gradient);
}

main {
  max-width: 375px;
  margin: 0 auto;
}

.desktop-background-img {
  display: none;
}

.logo {
  width: 158px;
  padding: 2em 1.5em;
}

.content-area {
  margin-top: 3.25em;
  padding: 0 2em;
}

.tittle {
  font-weight: var(--light-fw);
  font-size: 2.75rem;
  line-height: 1;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.darker-text {
  font-weight: var(--semi-bold-fw);
  color: var(--dark-grayish-red);
}

.announcement {
  font-size: 0.875rem;
  margin-bottom: 2.75em;
}

.form {
  position: relative;
  margin-bottom: 1.25em;
}

.email {
  color: var(--dark-grayish-red);
  font-weight: var(--semi-bold-fw);
  padding-left: 1em;
  width: 100%;
  height: 2.75rem;
  border: 1px solid hsl(var(--desaturated-red-hsl), 0.6);
  border-radius: 5em;
}

.email:focus {
  outline: 1px solid var(--desaturated-red);
}

.email::placeholder {
  color: hsl(var(--desaturated-red-hsl), 0.4);
  font-weight: var(--light-fw);
}

.button {
  cursor: pointer;
  border: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 2.75rem;
  border-radius: 5em;
  background: var(--soft-gradient);
  transition: 250ms ease-out;
}

.button:hover {
  background: var(--hover-gradient);
  width: 5rem;
  height: 3rem;
  top: -0.125rem;
  right: -0.5rem
}

.button-hover {
  background: var(--hover-gradient);
  width: 5rem;
  height: 3rem;
  top: -0.125rem;
  right: -0.5rem
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 24px;
}

@media(width > 1439px) {
  main {
    display: grid;
    grid-template-columns: 1fr 700px 610px;
    grid-template-rows: 175px 300px 300px;
    max-width: 1440px;
    /*desktop img 610 x 800*/
  }

  .logo {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    width: 200px;
  }

  .content-area {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: left;
    /* border: 2px solid blue; */
  }

  .tittle {
    font-size: 4rem;
    line-height: 1.1;
    letter-spacing: 16px;
  }

  .announcement {
    width: 65%;
    font-size: 1rem;
    margin-bottom: 3em;
  }

  .form {
    position: relative;
    margin-bottom: 1.25em;
  }

  .email {
    padding-left: 2em;
    width: 69%;
    height: 3rem;
  }

  .button {
    top: 0;
    left: 57%;
    width: 5rem;
    height: 3rem;
    border-radius: 5em;
    background: var(--soft-gradient);
    transition: 250ms ease-out;
  }

  .button:hover {
    background: var(--hover-gradient);
    width: 5.5rem;
    height: 3.5rem;
    top: -0.25rem;
    left: 56.5%;
  }

  .button-hover {
    background: var(--hover-gradient);
    width: 5.5rem;
    height: 3.5rem;
    top: -0.25rem;
    left: 56.5%;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 63%;
  }

  .desktop-background-img {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
  }

  .mobile-background-img {
    display: none;
  }
}

/*mail validation styles*/

.email[data-wrong="true"] {
  border: 2px solid red;
}

.error-icon[data-visible="true"] {
  position: absolute;
  top: 34%;
  right: 25%;
  transform: translateY(-50%);
}

@media(width > 1439px) {
  .error-icon[data-visible="true"] {
    right: 45%;
  }
}

.error-icon[data-visible="false"] {
  display: none;
}

.not-valid-message[data-visible="false"] {
  display: none;
}

.not-valid-message[data-visible="true"] {
  text-align: left;
  font-weight: var(--semi-bold-fw);
  color: var(--not-valid-message-clr);
  font-size: 0.8125rem;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

.red-border {
  border-color: var(--error-border-clr);
}

footer {
  color: var(--dark-grayish-red);
  margin-top: 4em;
}
footer a{
 color: inherit;
 transition: opacity 250ms ease-out;
}
footer a:hover{
 opacity: 0.7;
}